.form-NLibros-container {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
  }
  
  .form-NLibros-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form-NLibros-item {
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  
  .form-NLibros-item span {
    font-weight: bold;
  }
  
  .form-NLibros-item .form-usuarios-data {
    margin-left: 10px;
  }
  